<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/main" class="al-logo clearfix"><span>Chef</span>Admin</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

    <div class="user-profile clearfix">
        <img height="30em" width="auto" src="assets/img/logo-cap-gemini.png">
        <img height="60px" width="auto" src="https://upload.wikimedia.org/wikipedia/fr/2/2a/Logo-laposte.png">
    </div>
</div>