<h1>FooBarBaz</h1>



<div ng-controller="CtrlTest" ng-init="init()">

<div class="panel  with-scroll animated zoomIn" zoom-in="">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Selection de l'environnement</h3>
  </div>
  <div class="panel-body" ng-transclude="">
        <div class="form-group">
            <select class="form-control selectpicker ng-valid" >
              <option ng-repeat="x in envs" value="{{x.id}}">{{x.libelle}}</option>
            </select>
        </div>
  </div>
</div>

  <form class="simple-form">
  	Param: <input type="text" ng-model="param.value1" />
  	<input type="button" ng-click="switch(param)" value="Go!" />
  </form>



</div>



